body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FEFEFE;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a:hover{
	color: #000000;
}

#map {
    width: 500px;
    height: 400px;
    background-color: #CCC;
}