<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link href="./css/bootstrap.min.css" rel="stylesheet">
	<link href="./css/shop-item.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The list of restaurants in New York, demo website made with MongoDB, Express, Angular and Node.JS (MEAN)">
    <meta name="author" content="@agabardo - A. C. Gabardo">
</head>
<body ng-app="nycRestaurants"  ng-controller="myController">
	
	<div class="container">
		<div class="row">

            <div class="col-md-3">
                <p class="lead">NYC Restaurants</p>
                
                <!-- Place the search here -->
                <form ng-submit="applyFilters()">
	                <div class="input-group">
				      <input type="text" class="form-control" ng-model="search" name="search"  placeholder="Search for...">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button">Go!</button>
				      </span>
				    </div>
	                <br/>
	                
	                Browse by Borough: <span ng-bind="dropdownBorough">all</span>
					<select name="dropdownBorough" ng-model="dropdownBorough" class="myDropdown form-control">
					<option>Browse by borough</option>
					   <option ng-repeat="b in borough" value="{{b}}">{{b}}</option>
					</select>
					<br/>
					
					Browse by cuisine: <span ng-bind="dropdownCuisines">all</span>
	                <select name="dropdownCuisines" ng-model="dropdownCuisines" class="myDropdown form-control">
					<option>Browse by cuisine</option>
					   <option ng-repeat="cuisine in cuisines" value="{{cuisine}}">{{cuisine}}</option>
					</select>
					<br/>
					
					Browse by grade: <span ng-bind="dropdownGrades">all</span>
	                <select name="dropdownGrades" ng-model="dropdownGrades" class="myDropdown form-control">
					<option>Browse by grade</option>
					   <option ng-repeat="grade in grades" value="{{grade}}">{{grade}}</option>
					</select>
					<br/>
					
					<input class='btn fullwidth btn-default' type="submit" id="submit" value="Filter"/>
				</form>
			</div>
			
			<div class="col-md-9">
				<div id="map"></div>
				
				<p>{{myTxt}}</p>
				
				<table border="0" width="100%">
					<thead>
						<tr>
							<th>Restaurant Name</th>
							<th>Cuisine</th>
							<th>Borough</th>
							<th>Grade</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="restaurant in restaurants" ng-class-odd="'odd'" ng-class-even="'even'">
							<td>{{restaurant.name}}</td>
							<td>{{restaurant.cuisine}}</td>
							<td>{{restaurant.borough}}</td>
							<td>{{restaurant.grades[0].grade}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>          
	</div>
	
	
	<div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; <%= title %> 2016</p>
                </div>
            </div>
        </footer>
    </div>
	
	<script type="text/javascript" src="./js/1.4.5/angular.min.js"></script>
	<script type="text/javascript" src="./js/jquery-2.2.2.min.js"></script>
	<script type="text/javascript" src="./js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDnW0Tg6LWLop77232_WDkZ9DUq5w07-BA"></script>
	<script type="text/javascript" src="./js/custom.js"></script>
	<script type="text/javascript" src="./js/app.js"></script>
</body>
</html>