extends layout

block content
  h1 #{title}

  ul
  - each thisCuisine, x in cuisines_list
    a(href="?cuisine="+thisCuisine) #{thisCuisine + " | "}

  p Cuisine: #{cuisine}

  ul 
  - each restaurant, i in restaurants
    li= restaurant.name +" - "+ restaurant.address.street
            