doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css?i=a')
    script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnW0Tg6LWLop77232_WDkZ9DUq5w07-BA")
    script(type="text/javascript" src="javascripts/jquery-2.2.2.min.js")
    script(type="text/javascript" src="javascripts/custom.js")
      
  body
    block content