doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script.
      //var title = "!{title}";
      //window.alert(title);
      //Add the Google Maps here!...
  body
    block content
